<%- include("../layout/head") %>

<link rel="stylesheet" href="css/body.css">
  <%- include("../layout/nav") %>
  <body>
    <br>
    <div class="aboutus-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus">
                            <h2 class="aboutus-title">Về chúng tôi</h2>
                            <p class="aboutus-text">Shop thời trang thể thao, cam kết mang đến những sản phẩm "Đẹp - Chất - Giá hợp lý".</p>
                            <p class="aboutus-text">Với chính sách bán hàng lấy khách hàng làm trung tâm, uy tín là tôn chỉ hoạt động của shop. Hy vọng khách hàng sẽ cảm thấy hài lòng và có những trải nghiệm tốt nhất!</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="aboutus-banner">
                            <img src="http://themeinnovation.com/demo2/html/build-up/img/home1/about1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="feature">
            
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Tầm nhìn</h4>
                                        <p>Phát triển thành chuỗi cửa hàng và là sự lựa chọn hàng đầu của những người đam mê thể thao</p>
                                    </div>
                                </div>
                            </div>
                            <div class="feature-box">
                                <div class="clearfix">
                                    <div class="iconset">
                                        <span class="glyphicon glyphicon-cog icon"></span>
                                    </div>
                                    <div class="feature-content">
                                        <h4>Triết lý kinh doanh</h4>
                                        <p>Sự hài lòng của khách hàng không chỉ là tất cả mọi thứ mà còn là điều duy nhất mà chúng tôi cần đạt được</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%- include("../layout/footer") %> 
    </body>


