<style>
   .aside{
     margin-top: 2%;
     margin-left: 1%;
   
   }
  table { 
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    height: auto;
  }
  th {
    font-size: 25px;
    text-align: center;
  }
  .btn{
    font-weight: 600;
    height: 40px;
    line-height: 40px;
  }
</style>
<link rel="stylesheet" href="css/body.css">
<table>

  <tr>
    <th>
      <a href="/home" style="text-decoration: none;">
        ADMIN
      </a>  
    </th>
  </tr>
  <tr>
      <td>
        <div class="dropdown dropright">
          <p class="btn">
          <a href="/home"  style="text-decoration: none;">
            Thông tin
          </a>  
          </p>
        </div>
      </td>
  </tr>
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn">
          <a  href="/admin/listcate"  style="text-decoration: none;">  Quản lý loại sản phẩm</a>
        </p>
      </div>

    </td>
  </tr>
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn">
          <a  href="/admin/list-product"  style="text-decoration: none;">  Quản lý sản phẩm</a>
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn" >
          <a href="/view_user"  style="text-decoration: none;">Quản lý tài khoản </a>
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn" >
          <a href="/list_order"  style="text-decoration: none;">Quản lý đơn đặt hàng </a> 
        </p>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dropdown dropright">
        <p class="btn" >
           <a href="/admin/notification"  style="text-decoration: none;">Quản lý liên hệ </a> 
        </p>
      </div>
    </td>
  </tr>
</table>
